.container-imesada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    font-family: 'Roboto', monospace;
    text-align: center;
    min-height: calc(100vh - 70px);
}

.form-imesada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo, .subtitulo{
    margin: 1vh 0px;
}

.titulo{
    font-size: 3vh;
}

.saldo{
    margin: 1vh 0px;
    font-size:2vh;
}

.input-saldo{
    margin: 1vh 0vh;
    background-color: #a8a7a3;
    border-radius: 5px;
    border: 0px none;
    font-size: 2vh;
}

.div-botoes{
    display: flex;
    gap: 10px;
}

.botoes{
    font-size: 2vh;
    border-radius: 5px;
    padding: 0.5vh;
}

#credito{
    background-color: green;
    color: white;
}

#debito{
    background-color: red;
    color: white;
}

.imagem-porco{
    width: 15vh;
}
